body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  background-color: rgb(247, 247, 249);
  font-style: normal;
}

h1 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* TOOLBAR SECTION */

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.logo a {
  text-decoration: none;
}

.menu-icon {
  height: 20px;
}

/* HEADING SECTION */

.hero {
  background: url(./images/hero-bg1/header-shapes\ mobile@1x.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 0 0 0 100px;
  padding-bottom: 70px;
}

.glad {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 96px 20px 10px 20px;
  margin: 0;
}

.description {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #172b4d;
  margin-bottom: 10px;
  padding: 0 20px;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #7f8cff;
  margin-bottom: 10px;
  padding: 0 20px;
}

.social-icons {
  display: flex;
  gap: 24px;
  padding: 0 20px;
  padding-bottom: 50px;
}

.social-icons li {
  list-style: none;
}

.social-icon {
  height: 24px;
}

/* SECTION WORK */

.work {
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}

.container {
  display: grid;
  justify-self: center;
  background-color: #fff;
  width: 90%;
  height: 42rem;
  border: 1px solid #dfe1e6;
  border-radius: 9px;
  margin-bottom: 100px;
}

.content {
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding-top: 20px;
}

.snapshoot {
  margin-left: 21px;
}

.tonic {
  padding: 5px 0 5px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.detail {
  padding: 0 20px 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}

.back-end {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.canopy {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #344563;
}

.tools {
  display: flex;
  gap: 20px;
  padding-left: 20px;
}

.tool {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  color: #396df2;
}

.see-project {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-left: 20px;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
}

/* SECTION ABOUT ME */

.container-about {
  background-color: #fff;
  height: 75rem;
  border-radius: 0 100px 0 0;
}

.educ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 20px 20px 20px 0;
  color: #000;
}

.langguage {
  display: flex;
  align-items: center;
  gap: 30px;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 20px;
  padding: 10px 0;
}

.name {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.ellipse {
  padding-left: 10px;
}

hr {
  margin: 0 20px;
}

button:enabled {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-left: 20px;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
  text-decoration: underline;
}

/* FOOTER */

footer {
  background-color: #6070ff;
  background-image: url(./images/footer-gb/contact\ form\ shapes-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top 20px;
  border-radius: 100px 0 0 0;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
}

footer .title {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

footer .supporting-text {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ebeeff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 24px;
}

form > div {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
}

form textarea {
  min-height: 170px;
}

.form-submit:enabled {
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-left: 0;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
}

.form-submit:hover {
  background-color: rgb(79, 0, 213);
  color: #fff;
  text-decoration: underline;
  border: 1px solid #fff;
}

h2.title {
  margin: 0;
  padding: 0;
}
