html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  background-color: rgb(247, 247, 249);
  font-style: normal;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  background-color: #fff;
}

/* TOOLBAR SECTION */

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.logo a {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.menu-icon {
  height: 20px;
}

.menu-links {
  position: absolute;
  top: 0;
  background-color: #396df2e5;
  backdrop-filter: blur(4px);
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 106px 0 0 28px;
  margin: 0;
}

.menu-ul {
  display: flex;
  flex-direction: column;
}

.mobile-Nav {
  display: flex;
  justify-content: space-between;
}

.menu-links i {
  height: 50px;
  width: 50px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 20px 0 0;
}

.close {
  height: 50px;
  width: 50px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 20px 0 0;
  border-radius: 50%;
}

.close:hover {
  background-color: red;
}

.open {
  color: blue;
  height: 50px;
  width: 50px;
}

/* HEADING SECTION */

.section1 {
  margin: 0 auto;
}

.hero {
  background: url(./images/hero-bg1/header-shapes\ mobile@1x.svg);
  background-size: 100% 80vh;
  background-repeat: no-repeat;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 0 0 0 100px;
  min-height: 100vh;
  box-sizing: border-box;
}

.glad {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 96px 20px 10px 20px;
  margin: 0;
}

.description {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #172b4d;
  margin-bottom: 10px;
  padding: 0 20px;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #7f8cff;
  margin-bottom: 10px;
  padding: 0 20px;
}

.social-icons {
  display: flex;
  gap: 24px;
  padding: 0 20px;
  padding-bottom: 50px;
}

.social-icons li {
  list-style: none;
  height: 24px;
  width: 24px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.social-icon {
  height: 24px;
}

/* SECTION WORK */

#work {
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}

.container {
  display: grid;
  justify-self: center;
  width: 90%;
  margin-bottom: 20px;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-rows: auto auto;
  padding: 20px 0;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 9px;
  margin-bottom: 100px;
}

.snapshoot {
  display: flex;
  justify-content: stretch;
  margin: 0 21px;
}

.snapshoot img {
  width: 100%;
}

.text-content {
  margin-bottom: 40px;
}

.tonic {
  padding: 5px 0 5px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.detail {
  padding: 0 20px 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}

.back-end {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.canopy {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #344563;
}

.tools {
  display: flex;
  gap: 20px;
  padding-left: 20px;
}

.tool {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  color: #396df2;
}

.see-project {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-left: 20px;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
}

/* SECTION DETAIL */

/* MOBILE */

.modal {
  display: grid;
  grid-template-rows: auto auto;
  padding: 20px 0;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 9px;
  height: fit-content;
}

.modal-div-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 21px;
}

.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
}

.close-modal {
  font-size: 30px;
  color: #67798e;
}

.modal-div-2 {
  display: flex;
  gap: 20px;
  margin: 0 21px;
}

/* .modal-div-3 {
  display: grid;
  grid-template-rows: 1fr 1.5fr;
} */

.modal-img {
  margin: 0 21px;
}

.snapshoot1-mob {
  width: 100%;
}
.snapshoot1-desk {
  width: 100%;
}

.modal-mobile-detail {
  margin: 0 21px;
}

.modal-tools{
  display: flex;
  gap: 20px;
  padding-left: 0;
  border-bottom: 1px solid #EBECF0;
}

.modal-tools li{
  margin-bottom: 20px;
}

.modal-btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  margin: 20px 20px 0 0;
}

.modal-btn img {
  margin-left: 5px;
}

/* SECTION ABOUT ME */

.container-about {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 20px;

  /* margin: 48px 0; */
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 0 100px 0 0;
}

.educ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 20px 20px 20px 0;
  color: #000;
}

.langguage {
  display: flex;
  align-items: center;
  gap: 30px;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 20px;
  padding: 10px 0;
}

.name {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.ellipse {
  padding-left: 10px;
}

hr {
  margin: 0 20px;
}

.get-resume,
.see-project:enabled {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-left: 20px;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
}

/* FOOTER */

footer {
  background-color: #6070ff;
  background-image: url(./images/footer-gb/contact\ form\ shapes-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top 20px;
  border-radius: 100px 0 0 0;
  padding-top: 79px;
  display: flex;
  flex-direction: column;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
}

footer .title {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

footer .supporting-text {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ebeeff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 24px;
}

form > div {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
}

form textarea {
  min-height: 170px;
}

.form-submit:enabled {
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-left: 0;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
}

.form-submit:hover {
  background-color: rgb(79, 0, 213);
  color: #fff;
  text-decoration: underline;
  border: 1px solid #fff;
}

h2.title {
  margin: 0;
  padding: 0;
}

/* DESKTOP */

nav ul {
  display: flex;
  gap: 25px;
}

.nav-links a {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.menu-links li {
  margin-bottom: 40px;
}

.menu-links li a {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
}

.menu-links li a:hover {
  background-color: coral;
}

.bar {
  position: absolute;
  bottom: 20px;
  right: 40%;
  padding-top: 160px;
}

/* MEDIA QUERY */

@media (max-width: 800px) {
  .nav-links {
    display: none;
  }

  .desk{
    display: none;
  }

  .snapshoot1-desk {
    display: none;
  }

  .snapshoot2-desk {
    display: none;
  }

  .snapshoot3-desk {
    display: none;
  }

  .snapshoot4-desk {
    display: none;
  }
}

@media (min-width: 801px) {
  .open {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .menu-links {
    display: none;
  }

  .snapshoot1-mob{
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: 0 8em;
  }

  .hero {
    background: url(./images/header-bg/Header\ bg.svg);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #fff;
  }

  .first-child {
    align-self: center;
    display: flex;
    flex-direction: column;
  }

  .second-child {
    width: 100%;
    align-self: flex-start;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    margin: 48px;
    background-color: #fff;
    border: 2px solid #a7aeff;
    border-radius: 24px;
  }

  .content:nth-child(even) .snapshoot {
    order: 2;
  }

  .container-about {
    grid-template-columns: 1fr 1fr;
    padding: 100px;
  }

  .langguage {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 122px;
  }

  .langguages {
    display: flex;
    flex-direction: row;
  }

  .hero-content {
    background: transparent;
    padding: 0 260px;
  }

  .snapshoot1-mob {
    display: none;
  }

  .snapshoot2-mob {
    display: none;
  }

  .snapshoot3-mob {
    display: none;
  }

  .snapshoot4-mob {
    display: none;
  }

  .tonic br {
    display: none;
  }

  .about .glad {
    padding-top: 0;
  }

  .desk {
    flex: 2;
  }

/* MODAL */

.detail-section{
  display: flex;
  justify-content: center;
}


.modal-mobile-detail{
  display: flex;
  gap: 20px;
}

.modal-tools li {
    margin-bottom: 10px;
}

.mobil{
  border-bottom: none;
}

.mob{
  display: none;

}


  footer {
    background-color: #6070ff;
    background-image: url(./images/ft-desktop/contact\ form\ background\ shapes.svg);
    background-repeat: no-repeat;
    background-position: right bottom 20px;
    border-radius: 100px 0 0 0;
    display: flex;
    flex-direction: column;
  }

  .footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 33%;
  }

  form .form-submit:enabled {
    align-self: center;
    margin-bottom: 127px;
    text-decoration: none;
  }

  footer > img {
    display: none;
  }
}

/* Soufiane's animations */

.nav-links li a:hover {
  background-color: #6070ff;
  font-weight: 700;
  color: #ebebff;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}

@keyframes logo {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.logo {
  animation: logo 2s ease-in-out 1s 11000;
}

.tool:hover {
  transform: scale(1.2);
}

.social-icons li:hover {
  background-color: #6070ff;
  border-radius: 50%;
}

.popup {
  display: block;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0 0 0); /* Fallback color */
  background-color: rgb(0 0 0 / 40%); /* Black w/ opacity */
}

.modal {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

.popup{
  display: none;
}

.modal{
  display: none;
}
